---
layout: default
---
<article class="post">

  <header class="post-header">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
  <footer class="post-meta">
  <ul>
  {% for tag in page.tags %}
    <li class="badge badge-primary"><a href="/tag/{{tag}}">{{tag}}</a></li>
  {% endfor %}
  </ul>
  </footer>
  {%endif%}

</article>
