---
layout: default
---
<div class="post">

  <header class="post-header">
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <h3 class="post-title">{{ page.title }}</h3>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if page.tags.size > 0 %}
  <footer class="post-meta">
  <ul>
  {% for tag in page.tags %}
    <li class="badge badge-primary">{{tag}}</li>
  {% endfor %}
  </ul>
  </footer>
  {%endif%}

</div>
